{% extends "layout.html" %}

{% block textContent %}
<h3>Welcome to the integral nerd-fest 2.0 :)</h3>

<p>IntegralDiagrams.info is a collection or collation of conceptual diagrams related to the <a style="text-decoration:underline" target="_blank" href="http://en.wikipedia.org/wiki/Integral_movement">integral movement</a>.</p>

<p>These diagrams have been created by people all over the web in order to explain the ideas of the <a style="text-decoration:underline" target="_blank" href="http://en.wikipedia.org/wiki/Ken_Wilber#AQAL:_.22All_Quadrants_All_Levels.22">AQAL</a> &amp; underlying <a style="text-decoration:underline" target="_blank" href="http://en.wikipedia.org/wiki/Holon_%28philosophy%29">holonic</a> frameworks in theory and practice, as well as other non-AQAL integral frameworks.</p>

<p>IntegralDiagrams.info is a customised web application created by <a style="text-decoration:underline" target="_blank" href="http://slark.shorturl.com/">Stephen Lark</a>, and is a major upgrade of the <a style="text-decoration:underline" target="_blank" href="http://flickr.com/photos/slark/sets/939928/">Integral Diagrams</a> project.</p>

<p>To begin click on one of the <a style="color:red">navigation links</a> above.</p>
{% endblock textContent %}

{% block footer %}
<table>
	<tr>
		<td width="160" align="center"><a target="_blank" href="http://djangoproject.com"><img src="http://media.djangoproject.com/img/badges/djangoproject120x25.gif" border="0"></a></td>
		<td width="160" align="center"><a target="_blank" href="http://python.org"><img src="http://www.python.org/community/logos/python-powered-w-140x56.png" border="0"></td>
		<td width="160" align="center"><a target="_blank" href="http://wingware.com"><img src="http://www.wingware.com/images/coded_w_wing_small.jpg" border="0"></td>
		<td width="160" align="center"><a target="_blank" href="http://webfaction.com"><img src="http://www.webfaction.com/banners/webfaction-110x40-dark-logo-bg.png" border="0"></td>
		<td width="160" align="center"><a target="_blank" href="http://www.gnu.org/licenses/agpl-3.0.html"><img src="http://www.gnu.org/graphics/agplv3-155x51.png" border="0"></a></td>
	</tr>
</table>
{% endblock footer %}
