{% extends "layout.html" %}

{% block textContent %}
<p><i>all links open in a new window/tab</i></p>

<p><a target="_blank" href="http://www.flickr.com/photos/slark/galleries/72157622416607841/">more diagrams on Flickr</a></p>

<a target="_blank" href="http://integraldiagrams.blogspot.com/">Integral Diagrams blog</a><br>
<a target="_blank" href="http://integraldiagrams.blogspot.com/2008/11/id-downloads-for-mac-os-x.html">download all diagrams</a><br>
<a target="_blank" href="http://deepzoompix.com//FullScreenZoom.aspx?cu=http%3a%2f%2fdeepzoompix.com%2fDZ%2f100%2f50%2fCollection%2fz6c01036a147e4662be3ca872cfbed81e%2fcollection.xml&pm=http%3a%2f%2fdeepzoompix.com%2fAPI%2fPhotoMetadata.ashx%3falias%3dslark1%26album%3d1&se=True&hd=False&idc=&ua=slark1">largest diagrams on DeepZoomPix</a><br>
<a target="_blank" href="http://awurl.com/bL1Umt625">origin of "integral nerd-fest" phrase</a>

<h3>Interactive diagrams, mind maps, &amp; videos:</h3>
<a target="_blank" href="http://users.beagle.com.au/slark3/integral_info/levels_of_human_development.html">Levels of Human Development</a><br>
<a target="_blank" href="http://formlessmountain.com/quads.htm">Integral Quadrants</a><br>
<a target="_blank" href="http://www.andrewcohen.org/teachings/model-viewer.asp">Evolutionary Enlightenment</a><br>
<a target="_blank" href="http://www.formlessmountain.com/collage.html">Stage Structures of Development</a><br>
<a target="_blank" href="http://eric-blue.com/2008/12/18/integral-vision-mind-maps/">Integral Vision (mind maps)</a><br>
<a target="_blank" href="http://eric-blue.com/2009/05/17/spiral-dynamics-mind-map/">Spiral Dynamics (mind map)</a><br>
<a target="_blank" href="http://www.youtube.com/view_play_list?p=C28BC48A40A9E026">Spiral Dynamics (video playlist)</a><br>
<a target="_blank" href="http://www.youtube.com/watch?v=XjT4znHmewQ">AQAL: A Graphic Presentation (video)</a><br>
<a target="_blank" href="http://www.youtube.com/watch?v=xUXkKZsDChY">The Patterns That Connect (video)</a><br>
<a target="_blank" href="http://www.youtube.com/watch?v=SL2IBVjLKAw">Michael Bauwens' VISION Statement (video)</a>

<h3>Thanks!</h3>
<a target="_blank" href="http://www.c4chaos.com/2005/09/got-fluffy-diagrams/">Rommel de Leon</a><br>
<a target="_blank" href="http://eric-blue.com/blog/2007/01/integral_diagrams.html">Eric Blue</a><br>
<a target="_blank" href="http://www.kheper.net/topics/integral/links.html">Alan Kazlev</a><br>
<a target="_blank" href="http://integralpraxis.blogspot.com/">Integral Praxis</a><br>
<a target="_blank" href="http://integralrising.org/resources/other.html">integral rising (David Sunfellow)</a><br>
<a target="_blank" href="http://thepresentparticiple.blogspot.com/2008/09/integral-diagrams-in-what-is.html"><i>EnlightenNext</i> formely <i>What Is Enlightenment?</i></a><br>
<a target="_blank" href="http://centralasian.livejournal.com/1757955.html">centralasian</a>&nbsp;<a target="_blank" href="http://translate.google.com/translate?hl=en&amp;u=http://centralasian.livejournal.com/1757955.html&amp;sl=auto&amp;tl=en">(translated)</a><br>
<a target="_blank" href="http://theewhiteelephant.wordpress.com/">White Elephant</a><br>
<a target="_blank" href="http://www.beyondwilber.ca/links/ken_wilber_and_his_critics_links.html">Rolf Sattler</a><br>
<a target="_blank" href="http://www.facebook.com/group.php?gid=8773696924">Real World Open University</a><br>
{% endblock textContent %}
